<a href="https://colab.research.google.com/github/judithdejesus/Integrador-Alkemy/blob/main/clase_28_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ventas = pd.read_csv('ventas.csv')
ventas

   Producto  Precio  Impuesto  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    Laptop   800.0      80.0         NaN         NaN         NaN
1  Teléfono   200.0      20.0         NaN         NaN         NaN
2    Tablet   750.0      75.0         NaN         NaN         NaN
3    Laptop   350.0      35.0         NaN         NaN         NaN
4  Teléfono   100.0      10.0         NaN         NaN         NaN
5    Tablet   150.0      15.0         NaN         NaN         NaN
6       NaN     NaN       NaN         NaN         NaN         NaN
7       NaN     NaN       NaN         NaN         NaN         NaN

In [ ]:
ventas['Total'] = ventas['Precio'] + ventas['Impuesto']
ventas

   Producto  Precio  Impuesto  Unnamed: 3  Unnamed: 4  Unnamed: 5  Total
0    Laptop   800.0      80.0         NaN         NaN         NaN  880.0
1  Teléfono   200.0      20.0         NaN         NaN         NaN  220.0
2    Tablet   750.0      75.0         NaN         NaN         NaN  825.0
3    Laptop   350.0      35.0         NaN         NaN         NaN  385.0
4  Teléfono   100.0      10.0         NaN         NaN         NaN  110.0
5    Tablet   150.0      15.0         NaN         NaN         NaN  165.0
6       NaN     NaN       NaN         NaN         NaN         NaN    NaN
7       NaN     NaN       NaN         NaN         NaN         NaN    NaN

In [ ]:
ventas['Descuento'] = ventas['Total'] * 0.9
ventas

,Producto,Precio,Impuesto,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Descuento
0,Laptop,800.0,80.0,NaN,NaN,NaN,880.0,792.0
1,Teléfono,200.0,20.0,NaN,NaN,NaN,220.0,198.0
2,Tablet,750.0,75.0,NaN,NaN,NaN,825.0,742.5
3,Laptop,350.0,35.0,NaN,NaN,NaN,385.0,346.5
4,Teléfono,100.0,10.0,NaN,NaN,NaN,110.0,99.0
5,Tablet,150.0,15.0,NaN,NaN,NaN,165.0,148.5
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
agrupado = ventas.groupby('Producto').agg({'Total':'sum'})
agrupado

           Total
Producto
Laptop    1265.0
Tablet     990.0
Teléfono   330.0

In [ ]:
ventas.loc[4]

Producto      Teléfono
Precio           100.0
Impuesto          10.0
Unnamed: 3         NaN
Unnamed: 4         NaN
Unnamed: 5         NaN
Total            110.0
Descuento         99.0
Name: 4, dtype: object

In [ ]:
ventas.loc[:,'Impuesto']

0    80.0
1    20.0
2    75.0
3    35.0
4    10.0
5    15.0
6     NaN
7     NaN
Name: Impuesto, dtype: float64

In [ ]:
ventas.loc[4,'Impuesto']

10.0

In [ ]:
ventas[0:2]

,Producto,Precio,Impuesto,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Descuento
0,Laptop,800.0,80.0,NaN,NaN,NaN,880.0,792.0
1,Teléfono,200.0,20.0,NaN,NaN,NaN,220.0,198.0

In [ ]:
ventas.loc[0:1]

,Producto,Precio,Impuesto,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Descuento
0,Laptop,800.0,80.0,NaN,NaN,NaN,880.0,792.0
1,Teléfono,200.0,20.0,NaN,NaN,NaN,220.0,198.0

In [ ]:
ventas.loc[:, ('Producto', 'Precio')]

   Producto  Precio
0    Laptop   800.0
1  Teléfono   200.0
2    Tablet   750.0
3    Laptop   350.0
4  Teléfono   100.0
5    Tablet   150.0
6       NaN     NaN
7       NaN     NaN

In [ ]:
ventas.iloc[:,1:3]

   Precio  Impuesto
0   800.0      80.0
1   200.0      20.0
2   750.0      75.0
3   350.0      35.0
4   100.0      10.0
5   150.0      15.0
6     NaN       NaN
7     NaN       NaN

In [ ]:
agrupado = ventas.groupby('Producto').agg({'Total':'sum'})
agrupado

           Total
Producto
Laptop    1265.0
Tablet     990.0
Teléfono   330.0

In [ ]:
categorias = pd.read_csv('categorias.csv')
categorias

   Producto  ID_Categoria  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    Laptop           1.0         NaN         NaN         NaN         NaN
1  Teléfono           2.0         NaN         NaN         NaN         NaN
2    Tablet           3.0         NaN         NaN         NaN         NaN
3       NaN           NaN         NaN         NaN         NaN         NaN
4       NaN           NaN         NaN         NaN         NaN         NaN
5       NaN           NaN         NaN         NaN         NaN         NaN
6       NaN           NaN         NaN         NaN         NaN         NaN
7       NaN           NaN         NaN         NaN         NaN         NaN

# Clase con Walter

In [ ]:
import sqlite3 as sql
import pandas as pd

In [ ]:
conn = sql.connect('ventas.db')
conn

In [ ]:
cursor = conn.cursor()

In [ ]:
query = '''

    CREATE TABLE productos (
    id_producto INT PRIMARY KEY,
    nombre_producto VARCHAR(100),
    precio_unitario DECIMAL(10, 2),
    stock INT
    );
      CREATE TABLE clientes (
    id_cliente INT PRIMARY KEY,
    nombre_cliente VARCHAR(100),
    direccion VARCHAR(200),
    ciudad VARCHAR(50)
    );
      CREATE TABLE ventas (
    id_venta INT PRIMARY KEY,
    fecha_venta DATE,
    id_cliente INT,
    total_venta DECIMAL(10, 2),
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
    );
'''

In [ ]:
cursor.executescript(query)

In [ ]:
inserts = '''
INSERT INTO productos (id_producto, nombre_producto, precio_unitario, stock) VALUES
(1, 'Producto 1', 10.50, 100),
(2, 'Producto 2', 15.25, 50),
(3, 'Producto 3', 20.00, 0);

INSERT INTO clientes (id_cliente, nombre_cliente, direccion, ciudad) VALUES
(1, 'Cliente 1', 'Calle 123, Ciudad A', 'Ciudad A'),
(2, 'Cliente 2', 'Avenida 456, Ciudad B', 'Ciudad B'),
(3, 'Cliente 3', 'Carretera 789, Ciudad C', 'Ciudad C');

INSERT INTO ventas (id_venta, fecha_venta, id_cliente, total_venta) VALUES
(1, '2023-07-01', 1, 100.00),
(2, '2023-07-02', 2, 50.00),
(3, '2023-07-03', 3, 75.50);

'''

In [ ]:
cursor.executescript(inserts)

In [ ]:
#Realiza una consulta para obtener todos los productos de la tabla "productos" que tengan stock.
consulta = '''
 SELECT nombre_producto FROM Productos WHERE stock != 0
'''

In [ ]:
cursor.execute(consulta).fetchall()

[('Producto 1',), ('Producto 2',)]

In [ ]:
pd.read_sql_query(consulta, conn)

  nombre_producto
0      Producto 1
1      Producto 2

In [ ]:
#Realiza una consulta para obtener todas las ventas de la tabla "ventas" y carga los resultados en otro DataFrame de Pandas.
consulta2 = '''
  SELECT * FROM ventas
'''

In [ ]:
cursor.execute(consulta2).fetchall()

[(1, '2023-07-01', 1, 100),
 (2, '2023-07-02', 2, 50),
 (3, '2023-07-03', 3, 75.5)]

In [ ]:
df = pd.read_sql_query(consulta2, conn)
df

   id_venta fecha_venta  id_cliente  total_venta
0         1  2023-07-01           1        100.0
1         2  2023-07-02           2         50.0
2         3  2023-07-03           3         75.5

In [ ]:
#Realiza una consulta para obtener todas las ventas que tengan un total superior o igual a 50.
consulta2 = df['total_venta']>=50.
consulta2

0    True
1    True
2    True
Name: total_venta, dtype: bool

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=a7a07ef098fb8002f3dd23f98a5a8893287806351d600c4fbfa180d59bb3639a
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.csv('/content/flight_delays1.csv', header='false', inferSchema = True)
df.show()

AnalysisException: ignored

In [ ]:
filtered_df = df.filter(df._c13 > 100)
filtered_df.show()

In [ ]:
columnas_a_eliminar = ["_c22", "_c23", "_c21"]
df = df.drop(*columnas_a_eliminar)
df.show()

In [ ]:
df.count()

In [ ]:
len(df.columns)

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 32.8 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 11.4 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.21.12 which is incompatible.
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [ ]:
import mysql.connector

In [ ]:
connection = mysql.connector.connect(host='db4free.net', user = 'judith', password = 'alkemy123456', database = 'pruebaalkemy')

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute(
    '''
    SHOW databases;
    '''
)

In [ ]:
consulta = cursor.fetchall()

In [ ]:
for fila in consulta:
  print(fila)

('db4free_sys',)
('information_schema',)
('performance_schema',)
('pruebaalkemy',)

In [ ]:
cursor.execute(
    '''
    SHOW tables;
    '''
)
resultado = cursor.fetchall()
for fila in resultado:
  print(fila)

('customers',)

In [ ]:
cursor.execute(
    '''
    CREATE TABLE customers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    phone VARCHAR(20),
    city VARCHAR(100)
);
    '''
)
resultado2 = cursor.fetchall()
for fila in resultado2:
  print(fila)

ProgrammingError: ignored

In [ ]:
cursor.execute(
  '''
    INSERT INTO customers (first_name, last_name, email, phone, city)
    VALUES
    ('John', 'Doe', 'john@example.com', '555-1234', 'Cordoba'),
    ('Jane', 'Smith', 'jane@example.com', '555-5678', 'Buenos Aires'),
    ('Michael', 'Johnson', 'michael@example.com', '555-9876', 'Buenos Aires'),
    ('Emily', 'Williams', 'emily@example.com', '555-6543', 'Cordoba'),
    ('David', 'Brown', 'david@example.com', '555-7890', 'Buenos Aires');
  '''
)
customers = cursor.fetchall()
for fila in customers:
  print(fila)

In [ ]:
customers_result = 'SELECT * FROM customers;'
df = pd.read_sql_query(customers_result, connection)
df

<ipython-input-69-4b33795b0312>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(customers_result, connection)

   id first_name last_name                email     phone          city
0   1       John       Doe     john@example.com  555-1234       Cordoba
1   2       Jane     Smith     jane@example.com  555-5678  Buenos Aires
2   3    Michael   Johnson  michael@example.com  555-9876  Buenos Aires
3   4      Emily  Williams    emily@example.com  555-6543       Cordoba
4   5      David     Brown    david@example.com  555-7890  Buenos Aires
5   6       John       Doe     john@example.com  555-1234       Cordoba
6   7       Jane     Smith     jane@example.com  555-5678  Buenos Aires
7   8    Michael   Johnson  michael@example.com  555-9876  Buenos Aires
8   9      Emily  Williams    emily@example.com  555-6543       Cordoba
9  10      David     Brown    david@example.com  555-7890  Buenos Aires

In [ ]:
# Sentencia para crear la tabla "customers"
create_table_query = '''
CREATE TABLE orders (
    id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    amount double
);
'''
cursor.execute(create_table_query)
# Sentencia para insertar 5 clientes
insert_customers_query = '''
INSERT INTO orders (customer_id, amount)
VALUES
    (1,5000),
    (2,6000),
    (1,15000);'''
cursor.execute(insert_customers_query)

# Confirmar los cambios en la base de datos
connection.commit()

In [ ]:
customers_query = 'SELECT * FROM customers WHERE city IN ("Buenos Aires", "Codoba");'
df_query = pd.read_sql_query(customers_query, connection)
df_query.head()

<ipython-input-78-b41ca4bd0998>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_query = pd.read_sql_query(customers_query, connection)

   id first_name last_name                email     phone          city
0   2       Jane     Smith     jane@example.com  555-5678  Buenos Aires
1   3    Michael   Johnson  michael@example.com  555-9876  Buenos Aires
2   5      David     Brown    david@example.com  555-7890  Buenos Aires
3   7       Jane     Smith     jane@example.com  555-5678  Buenos Aires
4   8    Michael   Johnson  michael@example.com  555-9876  Buenos Aires

In [ ]:
customers_query = 'SELECT city as provincia, COUNT(*) FROM customers GROUP BY city;'
df_query1 = pd.read_sql_query(customers_query, connection)
df_query1.head()

<ipython-input-80-000c854f23ac>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_query1 = pd.read_sql_query(customers_query, connection)

      provincia  COUNT(*)
0       Cordoba         4
1  Buenos Aires         6